/*Media queries 740px*/

body {
    font-size: 100% !important;
}

#page main {
    width: 100% !important;
}

#page aside {
    width: 100% !important;
}

#page {
    display: flex !important;
    flex-direction: column !important;
}

#a-propos {
    margin-bottom: 20px !important;
}

main {
    padding: 25px !important;
}

#course1,
#course2,
#job1,
#job2 {
    display: flex;
    flex-direction: column;
}

main section {
    padding-top: 5px;
    padding-bottom: 20px;
}

main section p {
    padding: 0px 0px 30px 0px;
    margin: 0 0 0px 0px;
    display: block;
}

main section h4 {
    padding: 0;
    margin: 0;
}

.content-course,
.content-job {
    margin-bottom: 20px;
    margin-top: 0px;
    width: 100% !important;
}

ul {
    display: inline;
    font-size: 15px;
}

section h2 i {
    margin-right: 15px;
}

section h2 {
    border-bottom: 2px solid #607d8b;
    width: 100%;
    font-size: 23px;
}

.date {
    width: 300px;
}

main ul li .fa-circle {
    margin-left: 0px;
    padding-right: 5px;
}

main ul li .fa-dot-circle {
    margin-left: 0px;
    padding-right: 5px;
}